/*!
 * Start Bootstrap - Agency v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body::-webkit-scrollbar {
	width: 4px;
	background: #fff;
}
body::-webkit-scrollbar-thumb {
	background: #155c8f;
	/*border-radius: 10px;*/
	border-right: 2px solid #155c8f;
}


.text-muted {
  color: #777777;
}
.text-primary {
  color: #155c8f;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #464646;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #C9B86B;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #eee;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #155c8f;
  border-color: #155c8f;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #155c8f;
  border-color: #155c8f;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-primary .badge {
  color: #fed136;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-xl .badge {
  color: #fed136;
  background-color: white;
}
.navbar-custom {
  background-color: #155c8f;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fec503;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #bfac51;
  border-color: #bfac51;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #bfac51;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  background-color: #155c8f;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #fed136;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #389fdc;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #fec503;
}
@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 11px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }

  .barraPrincipal {
    background-color: transparent;
    background-image: url('../img/slider/barra_principal.png');
    background-repeat: no-repeat;
    z-index: 1011;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 1%;
  }

  .barraColores {
    background-color: transparent;
    background-image: url('../img/slider/barrra.fw.png');
    background-repeat: no-repeat;
    z-index: 1011;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
  }

   .barraLogoUniversidad {
    background-color: transparent;
    background-image: url('../img/slider/logo2.fw.png');
    background-repeat: no-repeat;
    z-index: 1012;
    top: 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 4%;
  }

  .barraLogoIndustrial {
    background-color: transparent;
    background-image: url('../facultades/ing_indust_sistema/img/logo.fw.png');
    background-repeat: no-repeat;
    z-index: 1012;
    top: 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 4%;
  }

  .barraLogoAgraria {
    background-color: transparent;
    background-image: url('../facultades/agraria_alimentaria/img/logo.fw.png');
    background-repeat: no-repeat;
    z-index: 1012;
    top: 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 4%;
  }

    .barraLogoBromatologia {
    background-color: transparent;
    background-image: url('../facultades/bromatologia/img/logo.fw.png');
    background-repeat: no-repeat;
    z-index: 1012;
    top: 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 4%;
  }

  .barraLogoMedicina {
    background-color: transparent;
    background-image: url('../facultades/medicina/img/medicina huma.png');
    background-repeat: no-repeat;
    z-index: 1012;
    top: 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 4%;
  }

    .barraLogoCiencias {
    background-color: transparent;
    background-image: url('../facultades/ciencias/img/logo.fw.png');
    background-repeat: no-repeat;
    z-index: 1012;
    top: 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 4%;
  }

  .barraLogoCienciasSociales {
    background-color: transparent;
    background-image: url('../facultades/ciencias_sociales/img/Logo_facultad.png');
    background-repeat: no-repeat;
    z-index: 1012;
    top: 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 4%;
  }

  .barraLogoCienciasEmpresariales {
    background-color: transparent;
    background-image: url('../facultades/ciencias_empresariales/img/Logo_facultad.png');
    background-repeat: no-repeat;
    z-index: 1012;
    top: 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 4%;
  }

  .barraLogoDerecho {
    background-color: transparent;
    background-image: url('../facultades/derecho/img/Logo_facultad.png');
    background-repeat: no-repeat;
    z-index: 1012;
    top: 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 4%;
  }

  .barraLogoContable {
    background-color: transparent;
    background-image: url('../facultades/contabilidad/img/Logo_facultad.png');
    background-repeat: no-repeat;
    z-index: 1012;
    top: 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 4%;
  }

  .barraLogoCivil {
    background-color: transparent;
    background-image: url('../facultades/civil/img/Logo_facultad.png');
    background-repeat: no-repeat;
    z-index: 1012;
    top: 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 4%;
  }

  .barraLogoPesquera {
    background-color: transparent;
    background-image: url('../facultades/pesquera/img/Logo_facultad.png');
    background-repeat: no-repeat;
    z-index: 1012;
    top: 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 4%;
  }

  .barraLogoQuimica {
    background-color: transparent;
    background-image: url('../facultades/quimica/img/Logo_facultad.png');
    background-repeat: no-repeat;
    z-index: 1012;
    top: 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 4%;
  }

  .barraLogoEducacion {
    background-color: transparent;
    background-image: url('../facultades/educacion/img/Logo_facultad.png');
    background-repeat: no-repeat;
    z-index: 1012;
    top: 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 4%;
  }

  

}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #155c8f;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

.search {
    margin-top: -25%;
}
.search .form-section{
  background:rgba(0,0,0,0.6);
  border: 2px solid #414141;
  border-radius: 5px;
  padding: 10px;
}
header {
  background-image: url('../img/slider/4.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 50px 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(254, 209, 54, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #fed136;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
aside.clients img {
  margin: 50px auto;
}
section#contact {
  background-color: #222222;
  /*background-image: url('../img/Collage2.png');*/
  background-position: center;
  background-repeat: no-repeat;
}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact .text-danger {
  color: #e74c3c;
}
footer {
  padding: 25px 0;
  text-align: center;
  background-color: #0070C6;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 40px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
::-moz-selection {
  text-shadow: none;
  background: #155c8f;
  color:white;
}
::selection {
  text-shadow: none;
  background: #155c8f;
  color:white;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #fed136;
}


*, *::before, *::after{box-sizing:border-box;}
*, *::before, *::after{transition:all .3s ease-in-out;}
.row3{color:#888888; background-color:#FFFFFF;}
.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left; word-wrap:break-word;padding-top: 35px;}
#introblocks{position:relative; margin:-10px/* Includes the container class padding */ auto 0; z-index:1011;}

#introblocks .elements{}
#introblocks .elements > li{text-align:center;}
#introblocks .elements .elementwrapper{display:inline-block; width:100%; max-width:480px; border:1px solid;}
#introblocks .elements li figure{}
#introblocks .elements li figure figcaption{display:block; position:relative; width:100%; border-bottom:3px solid;}
#introblocks .elements li figure figcaption *{display:block; width:66px; height:66px; padding:8px; font-size:22px; border-radius:50%;}
#introblocks .elements li figure figcaption a{position:absolute; bottom:0; left:50%; margin:0 0 -34px -33px; z-index:1;}
#introblocks .elements li figure figcaption a::before, #introblocks .elements li figure figcaption a::after{position:absolute; top:0; left:0; width:66px; height:35px; content:""; border-radius:66px 66px 0 0; z-index:-1;}
#introblocks .elements li article figure figcaption a::after{top:auto; bottom:0; left:0; height:34px; border-radius:0 0 66px 66px;}
#introblocks .elements li figure figcaption i{width:50px; height:50px; line-height:50px; padding:0;}
#introblocks .elements li .elementinfo{padding:50px 20px 30px 20px;}
#introblocks .elements li .elementinfo *{margin:0; padding:0;}
#introblocks .elements li .elementinfo .heading{margin-bottom:10px;}
#introblocks .elements li .meta{display:block; position:relative;}
#introblocks .elements li .meta::before{display:block; position:absolute; top:0; left:50%; width:0; height:100%; border:solid; border-width:0 0 0 1px; content:"";}
#introblocks .elements li .meta li{display:block; float:left; width:50%; padding:5px; border:solid; border-width:1px 0 0 0;}
#introblocks .elements li .meta li:nth-child(3){clear:left;}
.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}
.nospace{margin:0; padding:0; list-style:none;}
.one_half, .one_third, .one_thirdIndustrial, .one_thirdPosgrado, .iconoCarrera, .two_third, .one_quarter, .two_quarter, .three_quarter{display:inline-block; float:left; margin:0 0 0 3.06748466257669%; list-style:none;}
.one_thirdBromatologia {display:inline-block; float:left; margin:0 0 0 40.06748466257669%; list-style:none;}
.one_thirdCienciasSociales {display:inline-block; float:left; margin:0 0 0 7.06748466257669%; list-style:none;}
.first{margin-left:0; clear:left;}

.one_quarter{width:22.69938650306748%;}
.one_third{width:10.7%; /*13.28834355828221*/}
.one_half, .two_quarter{width:48.46625766871166%;}
.two_third{width:65.6441717791411%;}
.three_quarter{width:74.23312883435584%;}
.one_thirdfooter{width:19.28834355828221%;}
article, figure{display:block; margin:0; padding:0;}
.imgcc{width:auto; max-width:100%; height:auto; margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}


/*facultades*/
.one_thirdIndustrial{width:20.28834355828221%;}
.one_thirdBromatologia{width:20.28834355828221%;}
.one_thirdCienciasSociales{width:23.28834355828221%;}
.iconoCarrera{width: 9.4%; /*13.28834355828221*/} /*12.7%; 11.1*/
.one_thirdPosgrado{width:15.28834355828221%;}
/*facultades*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
.letrablanca{ color: #fff;}
#footer .linklist li{display:block; margin-bottom:8px;color: #fff; /*padding:0 0 8px 0;*/ /*border-bottom:0px solid;*/}
#footer .linklist li:last-child{margin:0; padding:0; border:none;color: #fff;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";color: #fff;}
#footer .linklist li, #footer .linklist li::after{clear:both;color: #fff;}



.menu-lateral { 
  transition: all 1.5s; -moz-transition: all 1.5s; -ms-transition: all 1.5s; -webkit-transition: all 1.5s; /*border-radius: 0 10px 10px 0;*/
  position: fixed; left: -20px; top: 540px; /*border: 1px solid #ccc; border-left: 0;*/ z-index: 1011; }
.menu-lateral:hover { left: 10; }
.menu-lateral .menu { /*border: 0; border-radius: 0 10px 10px 0; border-bottom: 0; border-left: 0;*/ }
.menu-lateral .menu li a { 
  /*background-color: #efefef!important;*/ background-position: 1px center; background-repeat: no-repeat; 
  text-transform: uppercase; text-align: left; display: block; font-family: awrock; text-indent: 12px; 
  font-size: 12px; width: 77px; height: 220px; line-height: 66px; /*border-top: 1px solid #e0e0e0!important;*/ padding: 0; color: #121f6c;
  transition: all 1.5s; -moz-transition: all 1.5s; -ms-transition: all 1.5s; -webkit-transition: all 1.5s; }
.menu-lateral .menu li a:hover,
.menu-lateral .menu li a.active,
.node-type-blog .menu-lateral .menu li a.blog,
.novedad-brugia .menu-lateral .menu #dhtml_menu-865 a,
.novedad-brugia .menu-lateral .menu #dhtml_menu-1038 a { box-shadow: 0 0 10px #666666 inset; }
.menu-lateral .menu li a.facebook { background-image: url(facebook.png); }
.menu-lateral .menu li a.twiter { background-image: url(twiter.png); }
.menu-lateral .menu li a.youtube { background-image: url(youtube.png); }
.menu-lateral .menu li a.comunicado { background-image: url(comunicado.fw.png); }
.menu-lateral .menu li:first-child a { /*border-radius: 0 10px 0 0; border-top: 0!important;*/ }
.menu-lateral .menu li:last-child a { /*border-radius: 0 0 10px 0;*/ }


.menu-lateralDerecho { 
  transition: all 1.5s; -moz-transition: all 1.5s; -ms-transition: all 1.5s; -webkit-transition: all 1.5s; /*border-radius: 0 10px 10px 0;*/
  position: fixed; right: -5px; top: 200px; /*border: 1px solid #ccc; border-left: 0;*/ z-index: 1000; }
.menu-lateralDerecho:hover { left: 10; }
.menu-lateralDerecho .menu { /*border: 0; border-radius: 0 10px 10px 0; border-bottom: 0; border-left: 0;*/ }
.menu-lateralDerecho .menu li a { 
  /*background-color: #efefef!important;*/ background-position: 1px center; background-repeat: no-repeat; 
  text-transform: uppercase; text-align: left; display: block; font-family: awrock; text-indent: 12px; 
  font-size: 12px; width: 83px; height: 70px; line-height: 66px; /*border-top: 1px solid #e0e0e0!important;*/ padding: 0; color: #121f6c;
  transition: all 1.5s; -moz-transition: all 1.5s; -ms-transition: all 1.5s; -webkit-transition: all 1.5s; }
.menu-lateralDerecho .menu li a:hover,
.menu-lateralDerecho .menu li a.active,
.node-type-blog .menu-lateralDerecho .menu li a.blog,
.novedad-brugia .menu-lateralDerecho .menu #dhtml_menu-865 a,
.novedad-brugia .menu-lateralDerecho .menu #dhtml_menu-1038 a { box-shadow: 0 0 10px #666666 inset; }
.menu-lateralDerecho .menu li a.bolsatrabajo { background-image: url(Bolsa_trabajo.png); }
.menu-lateralDerecho .menu li a.repositorio { background-image: url(Repositorio_institucional.png); }
.menu-lateralDerecho .menu li a.publicaciones { background-image: url(Publicaciones.png); }
.menu-lateralDerecho .menu li:first-child a { /*border-radius: 0 10px 0 0; border-top: 0!important;*/ }
.menu-lateralDerecho .menu li:last-child a { /*border-radius: 0 0 10px 0;*/ }


/*@media (min-width: 1681px) and (max-width: 1920px) {
 
    .navbar-custom {
    background-color: transparent;
    padding: 200px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }

}

@media (min-width: 1921px) and (max-width: 2560px) {
 
    .navbar-custom {
    background-color: transparent;
    padding: 260px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}


@media (min-width: 1920px) {

  .navbar-custom {
    background-color: transparent;
    padding: 160px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}*/

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
/*
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}*/

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}


.innercollage {
  z-index: 999;
}

@media (min-width: 240px) and (max-width: 1024px) {
#divBusqueda{
  display: none;
}
}



/*MENU PARA FACULTADES*/
.navbar-customFacultad {
  background-color: #0070C6;
  border-color: transparent;
}
.navbar-customFacultad .navbar-brand {
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-customFacultad .navbar-brand:hover,
.navbar-customFacultad .navbar-brand:focus,
.navbar-customFacultad .navbar-brand:active,
.navbar-customFacultad .navbar-brand.active {
  color: #fec503;
}
.navbar-customFacultad .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-customFacultad .navbar-toggle {
  background-color: #bfac51;
  border-color: #bfac51;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-customFacultad .navbar-toggle:hover,
.navbar-customFacultad .navbar-toggle:focus {
  background-color: #bfac51;
}
.navbar-customFacultad .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  background-color: #0070C6;
}
.navbar-customFacultad .nav li a:hover,
.navbar-customFacultad .nav li a:focus {
  color: #fed136;
  outline: none;
}
.navbar-customFacultad .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #fed136;
}
.navbar-customFacultad .navbar-nav > .active > a:hover,
.navbar-customFacultad .navbar-nav > .active > a:focus {
  color: white;
  background-color: #fec503;
}
@media (min-width: 768px) {
  .navbar-customFacultad {
    background-color: transparent;
    padding: 150px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-customFacultad .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-customFacultad .navbar-nav > .active > a {
    border-radius: 3px;
  }

}
@media (min-width: 768px) {
  .navbar-customFacultad.affix {
    background-color: #0070C6;
    padding: 10px 0;
  }
  .navbar-customFacultad.affix .navbar-brand {
    font-size: 1.5em;
  }
}

.letraPersonalizada{
color:#464646;
text-align: justify;
font-family: Roboto,Arial,sans-serif;
font-size: 15px;
font-weight: 300;
line-height: 24px;
}

.letraHeaderPersonalizada{
color:#464646;
text-align: justify;
font-family: Roboto,Arial,sans-serif;
font-size: 15px;
font-weight: bold;
line-height: 44px;
}

.letraHeaderPersonalizadaModal{
color:#4a4a4a;
font-family: Lato,Arial,sans-serif;
font-weight: 400;
margin-top: 0;
}

.ULPersonalizadoModal{
text-align:left; 
font-size:15px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Capitalize{
text-transform: capitalize;
}

@media (min-width: 1365px) and (max-width: 1367px){

body {
    font-size: 10px;
  }
}

.letraPersonalizadaNoticia{
color:#464646;
text-align: justify;
font-family: Roboto,Arial,sans-serif;
font-size: 12px;
font-weight: 300;
line-height: 17px;
}

.link_a {
  color: #fff;
}


*****LOGIN*******/
@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto', sans-serif;
}

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
  margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
  border-radius: 0px;
}