
/**********************************

  validate template

***********************************/
form.validate fieldset {
	margin-bottom: 10px;
}

form.validate legend {
	padding: 0 2px;
	font-weight: bold;
	_margin: 0 -7px; /* IE Win */
}

form.validate label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	cursor: hand;
}

form.validate fieldset p {
	list-style: none;
	padding: 5px;
	margin: 0;
}

form.validate fieldset fieldset {
	border: none;
	margin: 3px 0 0;
}

form.validate fieldset fieldset legend {
	padding: 0 0 5px;
	font-weight: normal;
}

form.validate fieldset fieldset label {
	display: block;
	width: auto;
}


form.formcontent label { width: 100%; } /* Width of labels */
form.validate label { width: auto; } /* Width of labels */



form.validate fieldset fieldset label { margin-left: 103px; } /* Width plus 3 (html space) */
/* form.validate label.error {
	margin-left: 103px;
	width: 220px;
} */

form.validate input.submit {
	margin-left: 103px;
}

/*\*//*/ form.validate legend { display: inline-block; } /* IE Mac legend fix */





/**********************************

  validate Styles Error

***********************************/


/* form.validate label.error, label.error {
	 remove the next line when you have trouble in IE6 with labels in list 
	font-style: italic
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    float: none;
    color: red;
	position: relative;
    padding-left: .5em;
    vertical-align: top;
	float: right;
	margin-right: 40%;
} */

form.validate label.error, label.error {
    color: red;
    float: right;
    font-size: 11px;
    font-weight: bold;
    padding-left: 0.5em;
    position: absolute;
    vertical-align: top;
}

form.validate label.error {
	display: true;
	margin-bottom: 50px;
	text-align: right;
	/*     margin-left: 240px;
	margin-top: -70px; */
	margin-left: -126px;
	margin-top: -22px;
	width: 123px;
}
form.validate label.valid {
	
display: true;
 margin-bottom: 50px;
/*     margin-left: 240px;
    margin-top: -70px; */
    margin-left: -110px;
    margin-top: -25px;
    width: 123px;
}



label.error {
	
    margin-bottom: 50px;
/*     margin-left: 240px;
    margin-top: -70px; */
    margin-left: -110px;
    margin-top: -30px;
    width: 110px;
}

form.validate input.error {  
    -webkit-box-shadow: 0px 0px 5px #FF0000;  
    -moz-box-shadow: 0px 0px 5px #FF0000;  
    box-shadow: 0px 0px 5px #FF0000;  
}  

form.validate textarea.error {  
    -webkit-box-shadow: 0px 0px 5px #FF0000;  
    -moz-box-shadow: 0px 0px 5px #FF0000;  
    box-shadow: 0px 0px 5px #FF0000;  
}  

form.validate select.error {  
    -webkit-box-shadow: 0px 0px 5px #FF0000;  
    -moz-box-shadow: 0px 0px 5px #FF0000;  
    box-shadow: 0px