.bg-black{
	/*background:url(../img/blur-background01.jpg) ;*/
	/*background: #3F82A3;*/
background: rgba(0,192,240,1);
background: -moz-linear-gradient(45deg, rgba(0,192,240,1) 0%, rgba(22,95,146,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,192,240,1)), color-stop(100%, rgba(22,95,146,1)));
background: -webkit-linear-gradient(45deg, rgba(0,192,240,1) 0%, rgba(22,95,146,1) 100%);
background: -o-linear-gradient(45deg, rgba(0,192,240,1) 0%, rgba(22,95,146,1) 100%);
background: -ms-linear-gradient(45deg, rgba(0,192,240,1) 0%, rgba(22,95,146,1) 100%);
background: linear-gradient(45deg, rgba(0,192,240,1) 0%, rgba(22,95,146,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0f0', endColorstr='#165f92', GradientType=1 );

width: 100% !important;
height: 100%;
margin: 0px;
padding: 0px;
position: absolute !important;
    
    
}
	
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin select
{
    margin-bottom: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 0px 0px 20px 0px;
    background-color: #FFFFFF;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
     border-radius: 50px;
}
.login-title
{
    color: #FFF;
    font-size: 25px;
    font-weight: 400;
    display: block;
	padding: 10px 0px 5px 0px;
	background-color: #FF1515;
	 -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 20px auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}